html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /*outline: red 1px solid;*/
}

/*======= top bar =========*/

.navbar-default {
  position: relative;
  top:0;
  left: 0;

}


.navbar-brand{
  width: 35px;
  height: 35px;
  padding: 1px;
  z-index: 1;
}



.contflex {
  max-height: calc(100% - 50px);
  padding: 15px 10px;

}

/*.my-members {*/
  /*display: none;*/
  /*max-height: calc(100% - 50px);*/
  /*padding: 15px 10px;*/

/*}*/

/*.my-board {*/
  /*max-height: calc(100% - 50px);*/
  /*padding: 0;*/
  /*display: inline-flex;*/
  /*align-items: flex-start;*/
  /*justify-content: space-around;*/
/*}*/

.column {
  max-height: calc(100% - 50px);
  width: 300px;
  position: relative;
  margin: 20px 10px;
}

.main-column {
  max-height: calc(100vh - 200px);
  text-align: center;
  overflow: auto;
}

.dropdown {
  position: absolute;
  top: 5px;
  right: 5px;
}

.list-name {
  width: 70%;
  font-weight: bolder;
}

.panel-heading {
  margin: 0;
}

.column footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #E7E7E7;
  border: 1px solid #2c2c2c;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.panel-footer:hover {
  cursor: pointer;
}
.list-name {
  font-weight: bolder;
}

.card {
  margin: 10px 0;
}

.card-text {
  padding: 15px 5px;
}

.my-ed-btn {
  display: none;
  position: absolute;
  right: 5px;
}
.card:hover > .my-ed-btn {
  display: block;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.card-footer span {
  margin-left: 2px;
}

.memlist {
  list-style: none;
  padding: 0;
}

.modal-content {
  text-align: initial;
  padding: 3px;
}

.hold-mem {
  max-height: 80px;
  overflow: auto;
  margin-left: 15px;
}

.my-ins-delbtn {
  margin-left: 15px;
}

.modal {
  background-color: rgba(0,0,0,0.5);
}

.board-stuff {
  display: none;
  /*display: inline-flex;*/
  align-items: flex-start;
  justify-content: space-around;
}

.members-stuff {
  /*display: none;*/
}

.mem-head {
  display: block;
}

.add-mem-input {
  display: inline-block;
  width: 300px;
}

.member {
  font-weight: bold;
}

.mem-list {
  width: 600px;
}
.mem-name input{
  display: inline-block;
  width: 300px;
}

.mem-btns {
  display: none;
  position: relative;
  left: 20%;
}

.mem-edit-btns,
.inp-name {
  display: none;
}

.member:hover .mem-btns {
  display: inline-block;
}

.edit-mode .mem-btns,
.edit-mode .mem-name {
  display: none;
}
